<!doctype html>
<html>
    <body>
        {% if started %}
            <form action="" method="post">
                <p><label for="topic">Topic</label><input type=text name=topic required>
                <p><input type=submit value=Start>
            </form>
            <a href="/destroy_instances"><button type="button" name="button">Destroy Instances</button></a>
        {% else %}
            <a href="/setup_instances"><button type="button" name="button">Setup Instances</button></a>
        {% endif %}
    </body>
</html>
