<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='js/loading.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <h1>Social Media and News Analysis</h1>
        <hr>
        <div id="live">
            {% if started %}
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" onsubmit="trigger_loading()">
                            <div class="form-group">
                                <label for="topic">Topic</label>
                                <input type=text name=topic required class="form-control" aria-describedby="topicHelp" placeholder="Enter a topic">
                                <small id="topicHelp" class="form-text text-muted">Data will be collected based on the input topic.</small>
                            </div>
                            <input type=submit class="btn btn-primary" value=Start>
                            <div class="destroy">
                                <a href="/destroy_instances"><button type="button" class="btn btn-primary" name="button">Destroy Instances</button></a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <h2>Previous Runs</h2>
                {% for topic, runs in jobs.items() %}
                    <div class="card">
                        <div class="card-body">
                            <a><button class="right btn btn-primary">Rerun &orarr;</button></a>
                            <h3><span>Topic:</span> {{topic}}</h3>
                            <table class="table table-bordered">
                                <tr><th>Run ID</th><th>Run Time</th></tr>
                                {% for run in runs %}
                                    <tr>
                                        {% for info in run %}
                                            <td>{{info}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <a href="/setup_instances"><button onclick="trigger_loading()" type="button" class="btn btn-primary" name="button">Setup Instances</button></a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="loading">
            <div class="card">
                <div class="card-body">
                    <div class="loading_container">
                        <h3>Loading</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
