body {
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-top: 10px;
    text-align: center;
}
h3 {
    text-align: center;
}
hr {
    width:25%;
}
.live {
    visibility: visible;
}
.loading {
    visibility: hidden;
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 25%
}
.destroy {
    float: right;
}
