body {
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-top: 10px;
    text-align: center;
}
h2 {
    text-align: center;
}
span {
    opacity: .8;
}
hr {
    width:60%;
}
#live {
    display: block;
}
#loading {
    display: none;
    margin-left: 5px;
    margin-right: 5px;
}
.right {
    float: right;
}
.destroy {
    float: right;
}
.loading_container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 60%
}
@media only screen and (min-width: 1150px) {
    p {
        font-size: 13px
    }
    hr {
        width: 50%;
    }
    .card {
        width: 50%
    }
}
@media only screen and (min-width: 1500px) {
    p {
        font-size: 16px
    }
    hr {
        width: 40%;
    }
    .card {
        width: 40%
    }
}
